<div class="app-container">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <!-- <h1 class="example-app-name"></h1> -->
  </mat-toolbar>
  <mat-sidenav-container
    class="app-sidenav-container">
    <!-- 側邊欄 -->
    <mat-sidenav
      #snav
      [mode]="'side'"
      [fixedInViewport]="true"
      [(opened)]="isOpen"
      fixedTopGap="64">
      <!-- 連結列表 -->
      <mat-nav-list>
        <a mat-list-item routerLink="/home">首頁</a>
        <a mat-list-item routerLink="/tree-view">Ａpp 樹狀圖</a>
      </mat-nav-list>
    </mat-sidenav>
    <!-- 側邊欄 -->

    <!-- 網站內容 -->
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
