ul,li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.component-node {
  align-self: stretch;
  padding-left: 42px;
}

.mat-tree-node {
  padding: .5em 1em;
  align-items: flex-start;


  .action-button{
    align-self: flex-start;
  }
}
