<ul *ngIf="node.interfaces" class="mat-tree-node columns">
  <li>
    <p mat-line>
        <button mat-icon-button class="action-button"
          (click)="isInterfaceExpand = !isInterfaceExpand">
          <mat-icon class="mat-icon-rtl-mirror" >
            {{ isInterfaceExpand ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        interfaces:
    </p>
  </li>
  <li
    *ngIf="isInterfaceExpand"
    class="component-node">

    <button mat-icon-button
      (click)="addChild(childList.Interface)">
      <mat-icon>add</mat-icon>
    </button>
    <app-interface
      *ngFor="let interface of node.interfaces"
      [interface]="interface"
    ></app-interface>

  </li>
</ul>

<ul *ngIf="node.emit" class="mat-tree-node columns">
  <li>
    <p mat-line>
      <button mat-icon-button class="action-button"
        (click)="isEmitExpand = !isEmitExpand">
        <mat-icon class="mat-icon-rtl-mirror" >
          {{ isEmitExpand ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      emit:
    </p>
  </li>
  <li
    *ngIf="isEmitExpand"
    class="component-node">
    <app-emit
      *ngFor="let e of node.emit"
      [emit]="e"
    ></app-emit>
  </li>
</ul>

<ul *ngIf="node.state" class="mat-tree-node columns">
  <li>
    <p mat-line>
      <button mat-icon-button class="action-button"
        (click)="isStateExpand = !isStateExpand">
        <mat-icon class="mat-icon-rtl-mirror" >
          {{ isStateExpand ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      state:
    </p>
  </li>
  <li
    *ngIf="isStateExpand"
    class="component-node">
    <app-state
      [state]="node.state"
    ></app-state>
  </li>
</ul>
