<mat-tree class="tree" [dataSource]="dataSource" [treeControl]="treeControl">
  <ul>
    <mat-nested-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
      <li class="mat-tree-node">
        <button mat-icon-button matTreeNodeToggle class="action-button" [attr.aria-label]="'toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror"></mat-icon>
        </button>
        <div class="component-container mat-tree-node">
          <p mat-line class="component-name">{{node.name}}</p>
          <app-component-detail [(node)]="node"
            (add)="addInterface(node, $event)">
          </app-component-detail>
        </div>
      </li>
    </mat-nested-tree-node>

    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">

      <li class="mat-tree-node">
        <button mat-icon-button matTreeNodeToggle class="action-button" [attr.aria-label]="'toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <div class="component-container mat-tree-node columns">
          <p mat-line>{{node.name}}</p>

          <app-component-detail [(node)]="node"
            (add)="addInterface(node, $event)"
            style="align-self: stretch;">
          </app-component-detail>
        </div>
      </li>

      <li [class.tree-invisible]="!treeControl.isExpanded(node)">
          <ng-container matTreeNodeOutlet></ng-container>
      </li>

    </mat-nested-tree-node>
  </ul>

</mat-tree>
