/* You can add global styles to this file, and also import other style files */
@import "jsoneditor/dist/jsoneditor.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.columns {
  flex-direction: column;
  align-items: stretch;
}
